.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn:active,
.btn:focus,
.btn:hover {
  box-shadow: none !important;
  outline: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
textarea {
  resize: none;
}
select {
  border: 1px solid #333 !important;
}
.form-check-input:focus {
  box-shadow: none;
}