#index {
  #tab {
    // Start: Tab Menu Scrollable on Mobiles
    .nav {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
    // End: Tab Menu Scrollable on Mobiles
    // Start: Tab Menu Effects
    .nav-link {
      transition: 0.4s;
    }
    .nav-link.active {
      color: $white !important;
      background-color: $primary;
    }
    .nav-link:not(.active):hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    #nav-tab {
      border: 1px solid $gray-600;
    }
    // End: Tab Menu Effects
  }
  .tab-content {
    .roadmap p {
      &:nth-child(1) {
        position: relative;
        margin-left: 33px;
        text-align: end;
        border-right: 5px dashed $primary;
        border-bottom: 2px dashed $primary;
        border-bottom-right-radius: 30px;
        &:after {
          content: "1";
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          right: -25px;
          width: 50px;
          height: 50px;
          color: $white;
          background-color: $primary;
          border-radius: 50%;
          transform: translateY(-50%);
        }
      }
      &:nth-child(2) {
        position: relative;
        margin-right: 33px;
        border-left: 5px dashed $primary;
        border-bottom: 2px dashed $primary;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        &:after {
          content: "2";
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          left: -25px;
          width: 50px;
          height: 50px;
          color: $white;
          background-color: $primary;
          border-radius: 50%;
          transform: translateY(-50%);
        }
      }
      &:nth-child(3) {
        position: relative;
        text-align: end;
        border-top-right-radius: 30px;
        border-right: 5px dashed $primary;
        &:after {
          content: "3";
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 50%;
          right: -25px;
          width: 50px;
          height: 50px;
          color: $white;
          background-color: $primary;
          border-radius: 50%;
          transform: translateY(-50%);
        }
      }
    }
    // Start: Mission hover Effects
    .mission {
      position: relative;
      transition: 0.4s;
      &-title {
        opacity: 1;
        transition: 0.4s;
      }
      &-content {
        position: relative;
        top: 0;
        // color: #aaa !important;
        transition: 0.4s;
      }
      &:hover {
        border-color: $secondary !important;
        background-color: $primary-light !important;
        .mission-title {
          opacity: 0;
        }
        .mission-content {
          top: -20px;
          color: $white;
        }
      }
    }
    // End: Mission hover Effects
  }
}
