#products {
  .nav-link.active {
    color: $white !important;
    background-color: $primary;
    border-color: $primary;
  }
  .nav-link {
    &:hover {
      border-color: $primary !important;
    }
  }
  .w-100px {
    width: 100px;
  }
}
